@charset "utf-8";
/* CSS Document */
body {
font-family: “Poppins”, sans-serif;
}
#footer-info {
    float: none;
    padding-bottom: 10px;
    color: #666;
    text-align: center;
}


@media only screen and ( min-width: 980px ) {
.elegantdesign .et_pb_column .et_pb_blog_grid[data-columns]::before { content: '2 .column.size-1of2' !important;
}
.elegantdesign .et_pb_column .column.size-1of2 {
width:47% !important;
margin-right:6%;
}}
@media only screen and ( max-width: 980px ) {
.elegantdesign .et_pb_column .et_pb_blog_grid[data-columns]::before { content: '2 .column.size-1of2' !important;
}
.elegantdesign .et_pb_column .column.size-1of2 {
width:100% !important;
margin-right:0%;
}
}

#skew:before {
    content: '';
    -webkit-transform: skew(0, -7deg);
    transform: skew(0, -7deg);
    position: absolute;
    left: 0;
    right: 0;
    top: -120px;
    height: 340px;
    background: #ffffff;
}
 
.elegantdesign .entry-title {
margin-top: 0px;
padding-bottom: 20px;
}
 
.elegantdesign .et_pb_image_container {
margin: -20px -40px  40px;
}
 
 
.elegantdesign .et_pb_blog_grid .et_pb_post {
    margin-bottom: 80px;
    width: 100%;
padding: 40px;
    background-color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-shadow: 0px 20px 150px #d6dee4;
border: none;
text-align:center;
}
 
.elegantdesign .et_pb_post .post-meta {
margin-bottom: 40px;
}
.elegantdesign a.more-link {
    font-size: 14px;
    color: #71818c !important;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    float: none;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 60px;
    background-color: #f7f9fb;
    border: 2px solid #e9eff5;
}
 
.elegantdesign a.more-link:hover {
color: #20292f;
}
/* email options name hide*/

.et_pb_newsletter_form p:nth-child(2){
display: none !important;
}
.et_pb_newsletter_form p:nth-child(3) {
display: none !important;
}
/* email options name hide end*/
#top-menu .current-menu-item a::before,
#top-menu .current_page_item a::before {
 content: "";
 position: absolute;
 z-index: 2;
 left: 0;
 right: 0;
}



/*Style Read More Button*/
.et_pb_post a.more-link {
clear: both;
display: inline-block;
position: relative;
background: #44ff6d;
font-family: defult;
font-size: 16px;
color: #ffffff;
letter-spacing: 0px;
text-transform: uppercase;
padding: 10px 15px;

}

/*Adjust Hover Style*/
.et_pb_post a.more-link:hover {
background: #eeeeee;
color: #000000;

}
/*Style Read More Button end*/

/* secendery menu hover color*/
#top-menu li li a:hover { background-color:#ff0037 !important; }
/* secendery menu hover color end*/