@charset "utf-8";

/*main body css apply part*/
/* main selector element user singnal = " Selectore "*/
/* Id swelectore singnal for = " # " */
/* class secectore for = "  . " (dot) */

body {
	color: black;
	border: none;
	
}

			/* h1  , h2 , h3 css main part */
h1 {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 26px;
	font-style: italic;
	color: black;
	border: none;
	align-content: center;
	font-feature-settings: normal;
}

		/* main paragraph css part */
p {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 16px;
	color: black;
	
	
}
 			/* that's main footer of part */

#footer-info {
	float: none;
	text-align: center;
	color: red;
}
.footer-credit {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	color: #0D0BFF;
	font-size: 30px;
	position: relative;
	border-bottom-left-radius: 24px;
}
.div {
	width: auto;
	border-top-width: inherit;
	background-color: green;
}

/* thatsc is post part */

